{% extends "base.html" %}
{% block title %}Generative Networks Blog{% endblock title %}

{% block content %}


<header class="container">
  <hgroup>
    <h1>Generative Networks Blog</h1>
    <p>Deployments and Research</p>
  </hgroup>
</header>
</div>
<!-- ./ Hero -->

<!-- Main -->
<main class="container">
  <section class="four-fifth center">
      {% for page in section.pages %}
        <article class="card">
            <div align="right">Published on: {{ page.date | date(format="%d/%m/%Y") }}&nbsp;</div>
            <section class="center">{{ page.summary | safe }}</section>
          <footer>
          <a href="{{ page.permalink | safe }}#continue-reading" class= "button">Read More</a>
          </footer>
        </article>
    
      {% endfor %}
  </section>
</main>
<!-- ./ Main -->


{% endblock content %}