{% extends "base.html" %}

{% block title %}Generative Networks{% endblock title %}

{% block content %}
<header class="container">
    <hgroup>
      <h1>Generative Networks</h1>
      <p>Consultancy and Training in Artificial Intelligence and Machine Learning</p>
    </hgroup>
    <p><a href="#contactanos" role="button">Contact Us</a></p>
  </header>
</div>
<!-- ./ Hero -->

<!-- Main -->
<main class="container">
    <section>
      <hgroup>
        <h2>Experience</h2>
        <p>Design & Deploy</p>
      </hgroup>
      <p>
        With extensive experience in programming and software development, combined with a solid theoretical foundation in Artificial Intelligence and Machine Learning, we have over twenty years of experience helping companies implement Artificial Intelligence solutions. Visit our <a href="blog/">Blog</a> to learn more about us.
      </p>

      <h3>Team</h3>
      <p>
        We are a team of specialists in the implementation of Artificial Intelligence in various areas such as Economics, Bioengineering, and Marketing, dedicated to research and consulting for companies.
        <ul>
          <li>Prof. Marcela Amiune, Behavioral Economist and Marketing Expert (<a href="https://www.linkedin.com/in/marcelaamiune/">Linkedin</a>)</li>
          <li>Prof. Samuel Kaplan, Economics and Data Science expert (<a href="https://www.linkedin.com/in/samuel-kaplan-46386a5/">Linkedin</a>)</li>
          <li>Eng. Leonardo Rocha, NLP and Data Pipelines Expert (<a href="https://www.linkedin.com/in/rochaleonardomanuel/">Linkedin</a>)</li>
          <li>Eng. Hernan Amiune, Machine Learning Expert (<a href="https://www.linkedin.com/in/amiune/">Linkedin</a>)</li>
        </ul> 
      
      </p>
      <h3>What Do We Do?</h3>
      <p>
        We help you:
        <ul>
        <li>To carry out AI pilot projects</li>
        <li>Create your own AI team</li>
        <li>Train in AI</li>
        <li>Develop your AI strategy</li>
        <li>Obtain more data (web scraping)</li>
        </ul> 
      </p>
    </section>
</main>
<!-- ./ Main -->

<!-- Contact -->
<section id="contactanos" aria-label="Contact Us">
  <div class="container">
    <article>
      <hgroup>
        <h2>Contact Us</h2>
        <p>We will respond ASAP</p>
      </hgroup>
      <form action="https://formspree.io/f/xwkglvnl" method="POST">
        <input
          type="text"
          id="firstname"
          name="firstname"
          placeholder="Name"
          aria-label="Name"
          required
        />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          aria-label="Email"
          required
        />
        <textarea
        id="message"
        name="message"
        placeholder="Message"
        aria-label="Message"
        required
        ></textarea>
        <button type="submit">Send</button>
      </form>
    </article>
  </div>
</section>
<!-- ./ Contact -->
{% endblock content %}